* {
  margin: 0;
}
body {
  background: no-repeat center center fixed;
  height: 100vh;
  font-family: Arial, Helvetica, sans-serif;
  font-size: 125%;
  text-align: center;
}

.container {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 5%;
}
.list {
  text-align: left;
}

.enter {
  cursor: pointer;
  margin: 10px;
  width: 60px;
  height: 20px;
  border-radius: 300px;
  box-shadow: 2px 2px 10px rebeccapurple;
  color: rebeccapurple;
  font-weight: bold;
}
.delete-button:active,
.enter:active {
  transform: translateY(10%);
}
.delete-button:focus,
.enter:focus {
  outline: none;
}

.header {
  color: rgb(233, 225, 241);
  margin: 10px;
}
.done {
  text-decoration: line-through;
}
.delete-button {
  cursor: pointer;
  margin: 10px;
  background-color: rgb(197, 129, 129);
  color: white;
}
hr {
  color: black;
  width: 200px;
  margin-top: 0;
  padding-top: 0;
}
.input {
  margin: 10px;
}
li {
  color: white;
}

.colors {
  display: flex;
  flex-direction: row;
  text-align: center;
  justify-content: space-between;
  align-items: center;
  width: 25vw;
  padding-top: 5%;
  color: aliceblue;
  font-size: 20px;
}
.explanation {
  color: white;
  margin-top: 10%;
}

@media only screen and (max-width: 900px) {
  .colors {
    flex-direction: column;
    height: 25vh;
  }
}
@media only screen and (max-width: 400px) {
  body {
    font-size: 100%;
  }
}
